html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

code {
  font-family: menlo, consolas, monospace;
  font-size: .9em;
}

*:focus {
  outline: 0;
}

iframe, webview {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/*
 * Chrome root
 */

.chrome-root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chrome-root > .sidebar {
  flex: 0 0 64px;
  background: #10181d;
  height: 100%;
}

.chrome-root > .body {
  flex: 1 1 100%;
  height: 100%;
  position: relative;
}

/*
 * Service body
 */

.service-body {
  position: absolute;
  top: -100vh;
  left: -100vw;
  height: 100%;
  width: 100%;
  display: none;
}

.service-body.-active {
  top: 0;
  left: 0;
  display: block;
}

/*
 * Service item:
 * sidebar thing
 */

.service-list {
  padding: 8px 0;
}

.service-list > .item {
  margin: 0 auto;
}

.service-item {
  display: block;
  position: relative;
  overflow: hidden;

  width: 100%;

  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.service-item > .icon {
  display: block;
  position: relative;

  margin: 8px auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;

  font-family: sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.service-item > .icon > .name,
.service-item > .icon > .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-item > .icon > .name {
  z-index: 1;
  background: rgba(255, 255, 255, .1);
}

.service-item > .icon > .image {
  border: 0;
  z-index: 2;
}

/* Notifications count */
.service-item > .notif {
  position: absolute;
  display: block;
  z-index: 3;

  bottom: 10px;
  right: 14px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;

  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: bold;

  border-radius: 3px;
  background: red;
}

.service-item > .icon {
  opacity: .5;
}

.service-item:hover > .icon,
.service-item:focus > .icon {
  opacity: .75;
}

.service-item.-active > .icon,
.service-item.-active:hover > .icon,
.service-item.-active:focus > .icon {
  opacity: 1;
  box-shadow: 0 0 3px 1px dodgerblue;
  pointer-events: none; /* don't make it clickable */
}

/*
 * Message
 */

.message-box {
  display: block;
  max-width: 400px;
  margin: auto;
}

.message-box > h1 {
  font-size: 2.4em;
  font-weight: 300;
  text-align: center;
}

.message-box > textarea {
  margin: 1em -24px;
  border: solid 1px #eaeaea;
  border-radius: 2px;
  padding: 24px;
  resize: none;
  width: 100%;
  font-size: .9em;
  font-family: menlo, consolas, monospace;
  line-height: 1.5em;
  min-height: 5em;
  background: white;
  color: #708090;

  -webkit-user-select: auto;
  user-select: auto;
}

.message-box > textarea:focus {
  border-color: dodgerblue;
  background: white;
}

.message-box > p {
  text-align: center;
}

.message-box em {
  color: #708090;
  font-style: normal;
}

/*
 * Button
 */

.button {
  color: dodgerblue;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 100ms linear;
  border-radius: 2px;
  display: inline;
  padding: 6px 12px;
}

.button:hover,
.button:focus {
  color: #0077ea;
}

.button:active {
  color: #005bd7;
  background-color: rgba(0, 0, 0, 0.05);
}
