html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

iframe, webview {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/*
 * Chrome root
 */

.chrome-root {
  display: flex;
  width: 100%;
  height: 100%;
}

.chrome-root > .sidebar {
  flex: 0 0 80px;
  background: #333;
  height: 100%;
}

.chrome-root > .body {
  flex: 1 1 100%;
  height: 100%;
  position: relative;
}

/*
 * Service body
 */

.service-body {
  position: absolute;
  top: -100vh;
  left: -100vw;
  height: 100%;
  width: 100%;
}

.service-body.-active {
  top: 0;
  left: 0;
}

/*
 * Service item:
 * sidebar thing
 */

.service-list {
  padding: 8px 0;
}

.service-list > .item {
  margin: 0 auto;
  margin-top: 16px;
}

.service-item {
  display: block;
  position: relative;

  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;

  font-family: sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;

  border: 0;
  padding: 0;
  cursor: pointer;
}

.service-item > .name,
.service-item > .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-item > .name {
  z-index: 1;
  background: rgba(255, 255, 255, .1);
}

.service-item > .image {
  z-index: 2;
}

/* Notifications count */
.service-item > .notif {
  position: absolute;
  display: block;
  z-index: 3;

  bottom: 2px;
  right: 2px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;

  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: bold;

  border-radius: 3px;
  background: red;
}

.service-item {
  opacity: .25;
}

.service-item:hover,
.service-item:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
  outline: 0;
  opacity: .5;
}

.service-item.-active,
.service-item.-active:hover,
.service-item.-active:focus {
  opacity: 1;
  box-shadow: 0 0 0 2px #fff;
}

/* Rounded */
.service-item,
.service-item > .name,
.service-item > .image {
  border-radius: 50%;
}
