@import '../common';

$icon-size: 38px;

/*
 * Service item:
 * sidebar thing
 */

.service-list {
  padding: 8px 0;
}

.service-list > .item {
  margin: 0 auto;
}

.service-item {
  display: block;
  position: relative;
  overflow: hidden;

  width: 100%;

  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.service-item > .icon {
  display: block;
  position: relative;

  margin: 8px auto;
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;

  font-family: sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.service-item > .icon > .name {
  position: absolute;
  top: -1px;
  left: -1px;
  width: $icon-size + 2px;
  height: $icon-size + 2px;
}

/* Icons default to 32px... */
.service-item > .icon > .image {
  position: absolute;
  top: ($icon-size - 32px) / 2;
  left: ($icon-size - 32px) / 2;
  width: 32px;
  height: 32px;
}

/* But slack defaults to full size */
.service-item.-slack > .icon > .image {
  top: -1px;
  left: -1px;
  width: $icon-size + 2px;
  height: $icon-size + 2px;
}

.service-item > .icon > .name {
  z-index: 1;
  background: rgba(255, 255, 255, .1);
}

.service-item > .icon > .image {
  border: 0;
  outline: 0;
  z-index: 2;
}

/* Notifications count */
.service-item > .notif {
  position: absolute;
  display: block;
  z-index: 3;

  bottom: 10px;
  right: 14px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;

  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: bold;

  border-radius: 3px;
  background: red;
}

.service-item > .icon {
  opacity: .5;
}

/* Hover */
.service-item:hover > .icon,
.service-item:focus > .icon {
  opacity: .75;
}

/* Currently-selected service */
.service-item.-active {
  background: rgba($accent, .1);
}

.service-item.-active > .icon,
.service-item.-active:hover > .icon,
.service-item.-active:focus > .icon {
  opacity: 1;
  pointer-events: none; /* don't make it clickable */
}

.service-item.-slack.-active > .icon,
.service-item.-slack.-active:hover > .icon,
.service-item.-slack.-active:focus > .icon {
  box-shadow: 0 2px 6px rgba(black, .4);
}
